.homes{
    background-size: cover;
    background-position: center;
    max-width: 95vw;
    width: 95vw;
    height: 95vh;
    background-color: rgb(204, 152, 152);
    text-align: center;
    margin: 1em 5em;
}



.log{
    border: solid white 1px;
    border-radius: 50%;
}
#nav{
    display: flex;
    border: solid white 1px;
    border-radius: 1.5em;
    margin: 2px auto;
    background-color: rgb(156, 192, 156);
}
#home{

    background-color: white;
    display: flex;
    border: solid white 1px;
    border-radius: 1.5em;
    margin: 0px auto;
     background-image: url(image/texture.jpg);
      background-position: center;
    background-size: cover;
}
.home{
    padding: 0px;
    margin: auto;
    background-color: green;
}
a{
    text-decoration: none;
    color:blue; 
}
a:hover{
    color:green;
}
#home{

    background-color: white;
    display: flex;
    border: solid white 1px;
    border-radius: 1.5em;
    margin: 0px auto;
     background-image: url(image/texture.jpg);
      background-position: center;
    background-size: cover;
}
.education{
   
    border: solid white 0.1em;
    border-radius: 0.8em; 
    width: 50%; 
}
.skill{
    background-color: rgb(192, 216, 192);
    border: solid white 0.1em;
    border-radius: 0.9em;
    width: 50%;
    padding: 0px;
}

a img{
    width: 4dvb;
    
}
table1 {
    color: blue;
    background-image: url(image/texture.jpg);
      background-position: center;
    background-size: cover;
    font-weight: bold;
    margin: 0px auto;
}
th {
    color: red;

    

}
td {
    background-color: rgb(115, 161, 115);
    

}
footer{
    background-color: rgb(187, 145, 149);
    border-radius: 0.9em;
}
footer ul li{
    display: inline;
    margin-right: 0.5em;
}
@media screen and (min-width: 320px) and (min-height:360px){
    body{
        background-color:white);
        font-size: 16px;
    }
}
    
@media screen and (min-width:481px) and (min-height:767px){
    body{
        background-color: rgb(208, 208, 247);
        font-size: 20px;
    }
}
@media screen and (min-width:768px) and (min-height:10279px){
    body{
        background-color:rgb(151, 151, 201) ;
        font-size: 24px;
    }20px
}@media screen and (min-width:1024px) and (min-height:1279px){
    body{
        background-color: rgb(229, 229, 238);
        font-size: 28px;
    }20px
}@media screen and (min-width:1024px) and (min-height:1366px){
    body{
        background-color: rgb(141, 141, 235);
        font-size: 32px;
    }20px
}
